* {
    box-sizing: border-box;
}

body {
    font-family: 'Saira', sans-serif;
}

.boder-radius{
    border-radius: 20px;
}

.product-detail{
    padding-top: 30vh;
    height: fit-content;
}

.product-img{
    width: 400px;
    height: fit-content;
}
.detail{
    width: 700px;
    height: fit-content;
}
.number{
    color:#ccc;
    
}
.number span{
    color: black;
    font-weight: 600;
}

.price-box{
    width: 600px;
    height: fit-content;
    background-color: #fafafa;
}

.shipping .icon img{
    width: 30px;
}

.ship-city{
    padding-left: 120px;
}

.set-qlt {
    display: flex;
    align-items: center;
}

.set-qlt button {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.set-qlt input {
    text-align: center;
    width: 50px;
    height: 32px;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.quantity{
    margin-top: 60px;
}
.btn-add{
    height: 48px;
    background-color: #ffeee8;
    border: 1px solid #C00202;
    color: #C00202;
}
.btn-buy{
    margin-left: 20px;
    height: 48px;
    background-color: #C00202;
    color: #fff;
    font-weight: 550;
    border: 1px solid #C00202;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-buy:hover{
    opacity: 0.8;
    color: #fff;
}
.btn-add:hover{
    opacity: 0.8;
    color: #C00202;
}
