
* {
    box-sizing: border-box;
}

body {
    font-family: 'Saira', sans-serif;
}


.title {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}

.sub-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.desc-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.desc-sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.header-inner{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
  background-color: black;
}

.brand{
    height: 100%;
    width: fit-content;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.brand_link{
    height: 100%;
    color: #fff;
    font-weight: 550;
    font-size: 35px;
    line-height: 70px;
    text-decoration: none;
}

.nav-link,
.btn{
    height: 100%;
    padding: 10px auto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}
.nav-link{
    position: relative;
    color: #fff;
}
.nav-link::after {
    content: "";
    position: absolute;
    background-color: yellow;
    height: 3px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    transition: .35s ease;
    border-radius: 6px;
}
.nav-link:hover:after {
    width: 100%;
}
.nav-link:hover {
    color: yellow;
}
.btn-nav{
  color: #fff;
  background-color: transparent;
}
.btn-nav:hover{
  color: #fff;
  background-color: transparent;
}
.hero {
    width: 100%;
    height:500px;
    margin-top: 70px;
}
.hero {
    margin-top: 70px ;
    height: fit-content;
}

.poster-left{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}
.poster-right-group{
    height: 70vh;
    border-radius: 20px;
}
.poster-right{
    width: 100%;
    height:calc(100% / 3 - 4px);
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.49);
    transition: 0.5s;
}
.poster-right:hover{
    transform: scale(0.9);
}
.poster-right:nth-child(2){
    margin-top: 6px;
    margin-bottom: 6px;
}

.hero-title {
    width: 100%;
    height: 100%;
    padding: 10px;
    
    background-color:#044f04;
    border-radius: 20px;
    color: white;
}
.section{
    width: 100%;
}
.section .title{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.product-type{
    height: fit-content;
    border-radius: 20px;
    background: rgba(237, 237, 237, 0.49);
    transition: 0.5s;
}
.product-type:hover{
    transform: translateY(-20px);
}
.product-type .title{
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.product-type button{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 40px;
    border-radius: 20px;
    font-size: 12px;
}
 
.cart-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    right: 0;
    top:30%;
    background-color: transparent;
}
.cart-btn:hover{
    background-color: black;
    color: white;
}

.section-4 {
    height: 2000px;
}

.section-4 .title {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.section-4 .sub-title {
    top: 141px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.section-4 .product-list {
    width: 100%;
    height: 820px;
    padding-top: 268px;
}

.section-4 .col-3 {
    padding: 0 13.5px;
}

.section-4 .card-box {
    border: none;
}

.section-4 .card-box .img-card {
    border-radius: 20px;
    border: 1px solid #ccc;

}

.section-4 .add-btn {
    font-size: 24px;
    top: 210px;
    right: 25px;
}

.section-4 .add-btn:hover {
    opacity: 0.8;
}

.section-4 .desc-title {
    margin-top: 21px;
}

.section-4 .price {
    color: #23262F;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65;
}

.section-4 .sale {
    margin-left: 18px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65;
    color: #666666;
    /* 23.1px */
    text-decoration: line-through;
    text-decoration-line: strikethrough;
}

.section-6 {
    height: 490px;
    background-image: url(../img/section-6-background.png);
    background-size: 100% 101%;
    background-repeat: no-repeat;

}

.section-6 .title {
    color: #fff;
    padding-right: 168px;
    margin-top: 100px;
}

.section-6 .sub-title {
    color: #fff;
    margin-top: 20px;
}

.section-6 input {
    width: 100%;

}

.section-6 .btn {
    border-radius: 8px;
    background: #23262F;
    color: #fff;
    border-radius: none;
    box-shadow: none;
    width: 152px;
    height: 60px;
    padding: 0;
}

.footer {
    background-color: #23262F;
    padding: 65px 0 20px;
}

.footer__inner {
    padding-bottom: 48px;
    margin-bottom: 64px;
    border-bottom: 1px solid #EAEEF3;
}

.footer_name {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.footer_social {
    column-gap: 16px;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    width: 40px;
    height: 40px;
    background-color: #2b2b3f;
    border-radius: 50%;
}

.footer_heading {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
    transition: .3s ease-in-out;
}

.footer_heading:hover {
    text-shadow: 3px 3px 3px #FFF;
    cursor: pointer;
}

.footer_link {
    display: inline-block;
    margin-top: 15px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    text-decoration: none;
}

.footer_link:hover {
    color: yellow;
  
}
.footer__bottom {
    padding-top: 70px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
}