* {
    box-sizing: border-box;
}



:root{
    --linear-gadient-color:linear-gradient(to left, #ff00cc, #333399);
    --light-color:#fff;
    --dark-color:#000;
    --header-hight:18vh
}

html,
body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .2);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}



.background-color{
    background: #03001e;  /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    max-width: 85vw;
}

.title {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}

.sub-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.desc-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.desc-sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.header{
    height: var(--header-hight);
    z-index: 100;
}
.header-logo{
   height: 80px;
   width: 80px;
}
.nav-link{
    color: var(--light-color);
    font-size: 16px;
    font-weight: 550;
}

.shopping-cart-btn :hover{
    transform: scaleX(1.2);
}

.nav-link:hover{
    opacity: 1.2;
    color:#e100ff;
}
.btn-hover:hover{
    background: #7f00ff;
    background: linear-gradient(to right, #7f00ff, #e100ff);
}
.avatar-header{
    width: 35px;
    height: 35px;

}

.card-box {
    border: none;
}

.card-box .img-card {
    border-radius: 20px;
    border: 1px solid #ccc;


}

.cart-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    right: 0;
    top:30%;
    background-color: transparent;
    color: black;
    text-decoration: none;
}
.cart-btn:hover{
    background-color: black;
    color: white;
}

.price {
    color: #23262F;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65;
}

.sale {
    margin-left: 18px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65;
    color: #666666;
    /* 23.1px */
    text-decoration: line-through;
    text-decoration-line: strikethrough;
}
/* SECTION-6 */
.section-6 {
    height: 490px;
    background-image: url(../img/hero-background.png);
    background-size: 100% 101%;
    background-repeat: no-repeat;

}

.section-6 .title {
    color: #fff;
    padding-right: 168px;
    margin-top: 100px;
}

.section-6 .sub-title {
    color: #fff;
    margin-top: 20px;
}

.section-6 input {
    width: 100%;

}

.section-6 .btn {
    border-radius: 8px;
    background: #23262F;
    color: #fff;
    border-radius: none;
    box-shadow: none;
    width: 152px;
    height: 60px;
    padding: 0;
}

/* footer */

.footer {
    background-color: #000;
    padding: 65px 0 20px;
}

.footer__inner {
    padding-bottom: 48px;
    margin-bottom: 64px;
    border-bottom: 1px solid #EAEEF3;
}

.footer_name {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.footer_social {
    column-gap: 16px;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    width: 40px;
    height: 40px;
    background-color: #2b2b3f;
    border-radius: 50%;
}

.footer_heading {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
    transition: .3s ease-in-out;
}

.footer_heading:hover {
    text-shadow: 3px 3px 3px #FFF;
    cursor: pointer;
}

.footer_link {
    display: inline-block;
    margin-top: 15px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    text-decoration: none;
}

.footer_link:hover {
    color: yellow;
}

.footer__bottom {
    padding-top: 70px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
}
table th{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
table tr{
    height: 30px;
}
table tr td{
    font-size: 12px;
    text-align: center;
    vertical-align:middle;
}
table tr td:first-child{
    font-weight: 600;
}
table tr td:nth-child(5){
    color: red;
    font-weight: 600;
}
.pay-btn{
    width: 200px;
    transform: translateX(50%);
}