.main{
}
/* CLASS CHUNG DÙNG LẠI  */
.title{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}

.sub-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.desc-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.desc-sub-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* CLASS CHUNG DÙNG LẠI  */
.hero{
    height: 1000px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.30) 100%), url(../img/hero-background.png), lightgray -98.487px -222.684px / 106.839% 135.473% no-repeat;
}

.section-1{
    height: 591px;
    padding-top: 76px;
    padding-bottom: 76px;
}
.section-1 .title{
    padding-right: 33px;
    margin-top: 10px;
}
.section-1 .sub-title{
    margin-top: 14px;
    margin-bottom: 10px;
    
}
.img-section-1{
    /* width: 554px;
    height: 430px; */
    padding: 1px 0;
    object-fit: cover;
    border-radius: 6px;
}

.desc{
    padding-left: 100px;
}

.desc-item{
    height: 96px;
    margin-top: 25px;
}

.check-icon{
    font-size: 32px;
}

.desc-content{
    width: 100%;
    padding-left: 48px;
}

.desc-content .desc-sub-title{
    margin-top: 8px;
}


.section-2{
    height: 540px;
}

.section-3{
    height: 591px;
}

.section-4{
    height: 1252px;
}

.section-5{
    height: 480px;
}

.section-6{
    height: 490px;
}

.footer{
    height: 513px;
}